* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Prompt', sans-serif;
      padding: 5px;
      background: #dddcdc;
     
    }

    

/* Colors */ 

:root {
  --color-header-background: #cecccc; 
  --color-mobile-header: #FFFFFF; 
  --color-body-background: #E5E5E5; 
  --color-article-backgorund: #ececec; 

  
}


  