* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Prompt', sans-serif;
      padding: 20px;
      background: #bbbaba;
      display: flex;
      flex-direction: column;
    }