
 

  /* --- Main content styling --- */ 



  .main_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    height: 100px;
    
 
    
  }
  
  

  .article_wrapper {
    background: var(--color-article-backgorund);
    padding: 10px; 
    border: 5px;
    margin: 0 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(125, 126, 125, 0.2);
    margin-bottom: 10px;
    width: 100%;
  
    
  }

  .title_content {
    font-size: 20px;
    margin: 0 0 5px;
  }
 
  .article_subtext {
    font-size: 1.2rem;
  }

/* content, author, post date stays hidden when mobile version */ 
  @media screen and (max-width: 500px) {

    .article_text {
      display: none; 
    }

    .info_wrapper {
      display: none;

    }
    .info_item {
      display: none;
    }
  
  }
  

  .article_image {
    width: 100%;;
    height: 150px;
    /* max-width: 900px; */ 
    
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   
  /* Link for read more */ 
  .read_more {
    margin: 0 0 0 5px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    height: 25px;
    
    }
  
    .read_more:hover {
      background: #b7b7b8;
    }
  
    .read_more_anchor {
      text-decoration: none; 
      color: black;
    }

    /* Info : Author and Publish */ 
 
  .info_wrapper {
    
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 80%;
    height: 45px;
   
   
  }

  .info_item {
    margin: 25px;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    
  }

  @media screen and (max-width: 500px) {
    .info_wrapper {
      display: none;
    }
  }

  /* Like button styling */ 
  .like_wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .likes {
    background: #E5E5E5;
    align-self: center;
    height: 35px;
    border: solid 1px #717c96;
    border-radius: 10%; 
  }

  .likes:hover {
    background: #6e87bd;
    box-shadow: 2px 2px 3px #717c96;
  }


  

  /* --- End of main content styling --- */ 
  
