* {
  box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #bbbaba;
    display: flex;
    flex-direction: column;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  

  .wrapper {
    display: flex;

flex-wrap: wrap;

width: 100%;

max-width: 800px; 

margin: 0 auto;
    
  }
  
  .article_content {
    background: #ececec;
    padding: 5px; 
    border: 5px;
    margin: 10px;
  }

  .article_image {
    width: 50%;;
    height: 300px;
    max-width: 800px;
    border: solid black;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 5px;
    
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (min-width: 800px) {
   .wrapper {
     
     flex: wrap;
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (min-width: 800px) {
    .article_content {
      width: calc(50% - 20px);
       
       padding: 0;
     }
   }
   */ 