
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background: white;
  }

  .wrapper {
    display: flex; 
  }

  @media screen and (min-width: 768px) {
  .sidebar {
    
    background: white;
    flex: wrap;
    margin: 10px 0; 
    padding: 10px;
    width: 20%;
    height: 500px;
    position: relative;
  }
  .ads {
    padding: 10px;
  }
}
  
  .archive.sidebar {
    background: tomato;
    width: 20%; 
    flex: 1;
  }

  .main-content {
    
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
    
  }
  
  .article_content {
    background: #ececec;
    padding: 10px; 
    border: 5px;
    margin: 10px;
  }

  .article_image {
    width: 100%;;
    height: 300px;
    max-width: 800px;
    
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .info_wrapper {
    display: flex;
    justify-content: flex-start;
   
  }

  .info_item {
    margin: 5px;
  }


  
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (min-width: 800px) {
   .wrapper {
     
     flex: wrap;
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (min-width: 800px) {
    .article_content {
      width: calc(50% - 20px);
       
       padding: 0;
     }
   }
   */ 